@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Playfair Display", serif;

}
body {
	overflow-x: hidden;

}
div.banner {
	width: 100%;
	min-height: 100vh;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
p {
    color: #fff; 
}
div.banner > h1 {
	background-image: url(https://thumbs.dreamstime.com/b/retro-groovy-background-vintage-trippy-psychedelic-wallpaper-blue-pink-liquid-hippie-texture-colorful-wavy-candy-pattern-274929643.jpg);
	font-size: 8.8em;
	font-weight: 800;
	color: #000000;
	text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
}

div.content-area {
	width: 100%;
	min-height: 100vh;
}

div.wrapper {
	display: grid;
	grid-template-columns: 50%;
	grid-template-rows: auto;
	grid-template-areas: "content image";
	height: auto;
}

div.content {
	grid-area: "content";
	margin: 40px;
	line-height: 30px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	color:#00FEFC;
}

div.content > h2 {
	font-weight: bolder;
  font-size: 8.8em;
	font-weight: 400;
	color: #FF10F0;
  
}

div.image-area {
	grid-area: "image";
}

div.image-area > img {
	width: 100%;
	max-height: 100%;
	position: relative;
	border-radius: 100px;
	padding: 50px;
}

div.flex-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

h2.feed {
	text-align: center;
	font-weight: bolder;
	margin: 6%;
	font-size: 4.6em;
  color: #00FEFC;
}

div.card {
	width: 500px;
	height: 400px;
	border-radius: 15px;
	box-shadow: 2px 2px 30px rgba(0, 254, 252, 0.1);
	margin: 40px;
	border: 1px solid #FF10F0;
}

div.card > img {
	width: 100%;
	max-height: 300px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
div.card {
    background-color: black; /* Change this to the desired color */
}
div.card > span {
	margin: 20px 40px;
	font-size: x-large;
	font-weight: bold;
  color: #FF10F0;
  
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translatex(-100%);
	transition: 1s all;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translatex(0);
	transition: 1s all;
}

footer.indesign-footer {
	width: 100%;
	height: 120px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
	padding: 10px;
}

div.footer-wrapper {
	display: flex;
	justify-content: center;
	align-content: baseline;
}

div.id-letter,
div.useful-links {
	width: 50%;
	height: auto;
}

div.id-letter > span {
	font-size: 4.4em;
	font-weight: bolder;
	background-image: url(https://thumbs.dreamstime.com/b/retro-groovy-background-vintage-trippy-psychedelic-wallpaper-blue-pink-liquid-hippie-texture-colorful-wavy-candy-pattern-274929643.jpg);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
}

div.useful-links > ul {
	list-style: none;
}

div.useful-links > ul > li > a {
	text-decoration: none;
	color: #00FEFC;
	cursor: pointer;
}

@media (max-width: 756px) {
	div.banner > h1 {
		font-size: 4.6em;
	}

	div.wrapper {
		display: flex;
		flex-direction: column;
	}

	div.wraper-reverse {
		display: flex;
		flex-direction: column-reverse;
	}
}

