* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

body {
    overflow-x: hidden;
    background-color: black; /* Set background color to black */
}

div.wrapper {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto;
    grid-template-areas: "content image";
    height: 100vh; /* Adjust to occupy full viewport height */
    width: 100vw; /* Adjust to occupy full viewport width */
    height: auto;
}

div.content {
    grid-area: "content";
    margin: 40px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

div.content > h2 {
    font-weight: bolder;
    font-size: 8.8em;
    font-weight: 800;
    color: #FF10F0;
}

div.image-area {
    grid-area: "image";
}

div.image-area > img {
    width: 100%;
    max-height: 100%;
    position: relative;
    border-radius: 100px;
    padding: 50px;
}

div.flex-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

h2.feed {
    text-align: center;
    font-weight: bolder;
    margin: 6%;
    font-size: 4.6em;
    color: #00FEFC;
}

div.card {
    width: 500px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 2px 2px 30px rgba(0, 254, 252, 0.1);
    margin: 40px;
    border: 1px solid #FF10F0;
}

div.card > img {
    width: 100%;
    max-height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

div.card {
    background-color: black; /* Change this to the desired color */
}

div.card > span {
    margin: 20px 40px;
    font-size: x-large;
    font-weight: bold;
    color: #FF10F0;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translatex(-100%);
    transition: 1s all;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translatex(0);
    transition: 1s all;
}

footer.indesign-footer {
    width: 100%;
    height: 120px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

div.footer-wrapper {
    display: flex;
    justify-content: center;
    align-content: baseline;
}

div.id-letter,
div.useful-links {
    width: 50%;
    height: auto;
}

div.id-letter > span {
    font-size: 4.4em;
    font-weight: bolder;
    background-image: url(https://thumbs.dreamstime.com/b/retro-groovy-background-vintage-trippy-psychedelic-wallpaper-blue-pink-liquid-hippie-texture-colorful-wavy-candy-pattern-274929643.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
}

div.useful-links > ul {
    list-style: none;
}

div.useful-links > ul > li > a {
    text-decoration: none;
    color: #00FEFC;
    cursor: pointer;
}

@media (max-width: 756px) {
    div.banner > h1 {
        font-size: 4.6em;
    }

    div.wrapper {
        display: flex;
        flex-direction: column;
    }

    div.wraper-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}

.svg-link {
    display: inline-block;
    /* Ensure the link behaves like a block element */
    margin: 20px;
    /* Adjust margins as needed */
    padding: 10px;
    /* Adjust paddings as needed */
    text-decoration: none;
    /* Remove underline from link */
}

/* CSS to style the image */
.svg-image {
    width: 200px;
    /* Adjust width as needed */
    height: auto;
    /* Maintain aspect ratio */
}

title {
    font-family: 'Inknut Antiqua', serif;
    /* Change font family */
    font-weight: bold;
    margin-top: 400px;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin-top: 260px;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    color: white;
}

.play-button {
    width: 315px;
    height: 90px;
    border-radius: 40px;
    background-color: #FF10F0;
    color: white;
    font-size: 65px;
    line-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    transition: box-shadow 0.3s ease;
    font-family: 'Inknut Antiqua', serif;
    /* Change font family */
    font-weight: bold;
}

.play-button:hover {
    box-shadow: 0 0 20px 10px rgba(255, 16, 240, 0.8);
}

.play-button span {
    -webkit-text-stroke: 1px black;
    color: white;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

#app {
    position: relative;
    /* Ensure the container is positioned */
    overflow: hidden;
    touch-action: pan-up;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

#app h1,
#app .play-button,
#app h3 {
    position: absolute;
    /* Position the text absolutely */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Center the text precisely */
}
